* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background:url(../images/background.jpg);
    background-size: 1870px;    
}

.website_name{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.logo {
    align-self: center;
    height: 60px;
    cursor: pointer;
}

.menu {
    position: absolute;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    background: #fff;
    width: 100%;
    left: 0;
    height: 800px;
}

.menu li {
    position: relative; 
    width: 100%;    
    border-top: 1px solid rgba(0,0,0,.1);
}

.menu li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;
}

.menu li a:hover {
    background: #333;
    color: #fff;   
}



.menu li ul {
    position: relative;    
    left: 0;
    width: 100%;
    background: #fff;  
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    display: none;
}

.menu li ul li {
    background: #eee;
    width: 100%;
    border-top: 2px solid rgba(0,0,0,.1);
}

@media (min-width: 940px) { 

    body {
        background-size: cover;
    }

    .menu {        
        left: 25%;
        display: inline-flex;
        inline-size: 150px;
        position: relative;
        width: auto;
        height: auto;
        background: fixed;               
    }

    .menu li {
        width: auto;
        float: left;
        border-top: none; 
    }

    .menu li ul {
        position: absolute;
        width: 185px;
    }

    .menu li ul li {
        background: #fff;
    }
}