* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body {
    display:flex;  
    min-height: 100vh;
    background:whitesmoke;
    flex-direction:column;
    overflow-x: hidden;
}

h1 {
    padding: 20px;
    text-align: center;
}

.indexBody {
    display: flex;
    min-height: 77vh;
    align-items: center;
    justify-content: center;
    background:url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indexBody .indexCard {
    height: 40%;  
    width: 55%;    
    background-color: #ffffffcb;
    text-align: center;    
    padding: 5px;
    border-radius: 25px;
}

.indexCard h5 {
    font-size: 20px;
    font-weight: bold;
}

.indexCard p {
    font-size: 18px; 
    font-style: italic;   
}


.website_name{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.logo {
    height: 60px;
    cursor: pointer;
}

.navigationHeader {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.menu {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background: #fff;
    width: 100%;
    left: 0;
    height: 800px;    
}

.menu li {
    position: relative;
    align-items: center; 
    width: 100%;    
    border-top: 1px solid rgba(0,0,0,.1);
}

.menu li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
}

.menu ul li {
    background: #fff;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

.menu li a:hover {
    background: #333;
    color: #fff;;
}

.menu ul li a:hover {
    background: #333;
    color: #fff;;
}

.customFooter {
    display: none;
    position:static;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    line-height: 60px;
    box-shadow: 0 -5px 20px -5px #333;
    
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.footerContent {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.contactIcon{
    height: 40px;
}

.customIcon {
    height: 50px;
}

.informationParagraph {
    justify-items: center;    
    text-align: center;
}

.informationParagraph h5 {
    padding: 5px;
}

.informationParagraph p {
    font-size: 20px;
    padding: 5px;
}

.informationParagraph h6 {
    font-size: 18px;
    font-weight: bold;
}

.informationParagraph a {
    font-size: 18px;
    padding: 10px;
}

.informationParagraph .justifiedParagraph{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    flex: 1;
}

.wrapper .row .accordionColumn {
    padding: 0 20px 40px 20px;
}

.wrapper .row .imageColumn {
    display: none;
}

.accordion-item h2 button {
    font-size: 18px;
    font-weight: bold;
}

.accordion-item h2 img {
    height: 50px;
    padding: 0 20px;
}

.accordion-body p {
    padding: 5px;
    text-align: justify;
    text-indent: 10px;
}

.wrapper .card-group .card img {
    height: 300px;
}

.wrapper .card-group .card .card-body {
    border-top: 1px solid rgba(0,0,0,.1);
}

.wrapper .card-group .card .card-text,
.wrapper .row .col .card .card-text {
    text-align: justify;
    text-indent: 20px;
}

.wrapper .row {
    padding: 10px 0 30px;
}


@media (min-width: 768px) { 

    .menu {   
        position: relative;     
        left: 25%;
        display: inline-flex;                 
        width: auto;
        height: auto;
        background: fixed;      
    }

    .menu li {         
        width: auto;
        float: left;
        border-top: none; 
    }

    .customFooter {
        display: initial;
    }

    .informationParagraph .justifiedParagraph {
        text-align: justify;
        width: 60%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        text-indent: 40px;
    }

    .wrapper .row .accordionColumn {
        padding-left: 80px;        
    }

    .wrapper .row .imageColumn {
        display: initial;
    }

    .wrapper .row .imageColumn img {
        height: 400px;
        padding: 0 0 20px 50px;        
    }

    .wrapper .card-group {
        padding: 0 0 40px;
    }

    .wrapper .row {
        justify-content: center;
    }

    .wrapper .row .col .card {
        height: 350px;
    }
}
