@import "../SCSS/General.scss";

.wrapper {
    @include make-container();
    flex: 1;

    .customList {
        @extend .list-group;

        text-align: center;

        .customList-item {
            @extend .list-group-item;
            margin-left: auto;
            margin-right: auto;
            width: 80%;

            a {
                text-decoration: none;
                color: #333;
                font-size: 18px;
                font-weight: 600;

                >img {
                    padding-left: 10px;
                }
            }
        }
    }
}