$black: #333;

$navbar-brand-font-size: 1.25rem;

$accordion-button-active-bg: $black;
$accordion-button-active-color: #fff;
$accordion-icon-active-color: $black;
$accordion-button-focus-box-shadow: #fff;
$accordion-icon-active-color: #fff;

$list-group-border-color: $black;

@import "../Bootstrap/node_modules/bootstrap/scss/bootstrap";

@import "../SCSS/Colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    padding: 20px;
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    background: $whitesmoke;
    flex-direction: column;
    overflow-x: hidden;
}

.navigationHeader {
    @include my-custom-shadow(); 
}

.customNavbar {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-light;
    @extend .bg-light;

    .navbarContainer {
        @include make-container();
        @extend .container-fluid;

        .website_brand {
            @extend .navbar-brand;
            font-weight: bold;
            color: $black;
            cursor: pointer;

            > img {
                height: 60px;
                cursor: pointer;
            }
        }

        .navbarButton {
            @extend .navbar-toggler;

            >span {
                @extend .navbar-toggler-icon;
            }
        }

        #navbarNav {
            @extend .collapse;
            @extend .navbar-collapse;

            .navbarMenu {
                @extend .navbar-nav;

                font-size: 18px;
                font-weight: bold;
                color: $black;
                background: $white;
                left: 0;
                height: 800px;

                >li {
                    @extend .nav-item;

                    position: relative;
                    align-items: center;
                    width: 100%;
                    border-top: 1px solid $shadow;

                    >a {
                        @extend .nav-link;

                        font-size: 20px;
                        padding: 15px;
                        color: $black;

                        &:hover {
                            color: $white;
                            background: $black;
                        }
                    }
                }

                .navDropdown {
                    @extend .nav-item;
                    @extend .dropdown;

                    #navbarDropdown {
                        @extend .nav-link;
                        @extend .dropdown-toggle;

                        color: $black;
                        padding: 15px;
                        font-size: 20px;

                        &:hover {
                            color: $white;
                            background: $black;
                        }
                    }

                    ul {
                        width: 100%;

                        >li {
                            background: #fff;
                            border-top: 1px solid $shadow;
                            font-size: 20px;
                            padding: 10px 0 10px 0;
                            width: 100%;

                            >a {
                                @extend .dropdown-item;
                                color: #333;

                                &:hover {
                                    color: $white;
                                    background: $black;
                                }
                            }

                        }
                    }
                }

            }
        }
    }
}


.customFooter {
    display: none;
    position: static;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    line-height: 60px;
    @include my-custom-shadow(0 -5px 20px -5px rgba(0, 0, 0, .2)); 

    background-color: $WhiteShade;
    color: $black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

    .footerContent {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

@media (min-width: 992px) {
    .customNavbar {
        .navbarContainer {
            #navbarNav {
                .navbarMenu {
                    width: 100%;
                    height: 60px;
                    position: relative;
                    display: inline-flex;
                    background: fixed;
                    justify-content: end;

                    li {
                        width: auto;
                        float: left;
                        border-top: none;
                    }

                    .navDropdown {
                        ul {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }

    .customFooter {
        display: initial;
    }
}