@import "../SCSS/Colors.scss";

@import "../SCSS/Images.scss";

@import "../SCSS/Fonts.scss";

@import "../SCSS/General.scss";

.indexBody {
    display: flex;
    min-height: 77vh;
    align-items: center;
    justify-content: center;
    background:url($Background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .indexCard {
        height: 40%;  
        width: 55%;    
        background-color: $whiteTransparency;
        text-align: center;    
        padding: 5px;
        border-radius: 25px;

        h5 {
            font-size: $largeFont;
            font-weight: $bold;
        }

        p {
            font-size: $mediumFont; 
            font-style: $italic;  
        }
    }
}