.wrapper {        
    > h1 {
        img {
            height: 50px;
        }
    }

    .peopleRow {        
        @extend .row,
                .row-cols-1,
                .row-cols-md-3,
                .g-4;
        padding: 10px 10px 30px 10px;
 
        > div {  

            .person-Card {
                @extend .card;
                @include my-custom-shadow();                

                .person-Card-body {
                    @extend .card-body;

                    >h5 {
                        @extend .card-title;
                    }

                    >p {
                        @extend .card-text;

                        text-align: justify;
                        text-indent: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .wrapper {
        .peopleRow {
            justify-content: center;
            padding: 10px 15px 30px 15px;
            > div {
                .person-Card {
                    height: 350px;
                }
            }
        }
    }
}