.wrapper {    
    .informationParagraph {
        .customIcon {      
            display:block;
            margin:auto;      
            height: 60px;
            padding-bottom: 10px;
        }
    }    
}